{% load static %}

<!DOCTYPE html>
<html>

<head>
  <title>Landing</title>
  <!-- <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script> -->
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDlVTN-szxnm6ZMM8yWxZuuBIREfD8snjk&libraries=places&callback=initMap">
    </script>
  <!-- <script src="{% static " propertySearch.js" %}" type="text/javascript"></script> -->
  <script> function initialize() {
      var input = document.getElementById('searchTextField');
      new google.maps.places.Autocomplete(input);
    }

    google.maps.event.addDomListener(window, 'load', initialize);
  </script>
  <link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/sharedStyles.css' %}">

  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <link href="resources/css/axure_rp_page.css" type="text/css" rel="stylesheet" />
  <link href="data/styles.css" type="text/css" rel="stylesheet" />

  <script type="text/javascript">
    $axure.utils.getTransparentGifPath = function () { return 'resources/images/transparent.gif'; };
    $axure.utils.getOtherPath = function () { return 'resources/Other.html'; };
    $axure.utils.getReloadPath = function () { return 'resources/reload.html'; };
  </script>
</head>

<body>
  <div id="base" class="">

    <!-- Unnamed (Image) -->
    <div id="u380" class="ax_default image">
      <img id="u380_img" class="img " src={% static "images/landing/u380.png" %} />
      <div id="u380_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u381" class="ax_default image">
      <img id="u381_img" class="img " src={% static "images/landing/u381.jpg" %} />
      <div id="u381_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u382" class="ax_default heading_2">
      <div id="u382_div" class=""></div>
      <div id="u382_text" class="text ">
        <p><span>We are your safety net for your next home choice</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u383" class="ax_default box_1">
      <div id="u383_div" class=""></div>
      <div id="u383_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u384" class="ax_default heading_2">
      <div id="u384_div" class=""></div>
      <div id="u384_text" class="text ">
        <p><span>Find it:</span></p>

      </div>
    </div>

    Unnamed (Rectangle)
    <div id="u385" class="ax_default box_1">
      <div id="u385_div" class=""> <input id="searchTextField" type="text" size="50">
      </div>
      <div id="u385_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Image)
    <div id="u386" class="ax_default image">
      <img id="u386_img" class="img " src={% static "images/search/u6.jpg" %} />
      <div id="u386_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div> -->

    <!-- Unnamed (Rectangle) -->
    <div id="u387" class="ax_default box_1">
      <div id="u387_div" class=""></div>
      <div id="u387_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u388" class="ax_default heading_2">
      <div id="u388_div" class=""></div>
      <div id="u388_text" class="text ">
        <p><span>See what living in your new home is going to be like</span></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u389" class="ax_default image">
      <img id="u389_img" class="img " src={% static "images/search/u8.png" %} />
      <div id="u389_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>


    <!-- Unnamed (Image) -->
    <div id="u390" class="ax_default image">
      <img id="u390_img" class="img " src={% static "images/landing/u390.png" %} />
      <div id="u390_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u391" class="ax_default heading_2">
      <div id="u391_div" class=""></div>
      <div id="u391_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u392" class="ax_default primary_button">
      <div id="u392_div" class=""></div>
      <div id="u392_text" class="text ">
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u393" class="ax_default image">
      <img id="u393_img" class="img " src={% static "images/landing/u393.svg" %} />
      <div id="u393_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u394" class="ax_default heading_1">
      <div id="u394_div" class=""></div>
      <div id="u394_text" class="text ">
        <p><span>The mission of our team is to ensure you know all the details about your future home</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u395" class="ax_default heading_1">
      <div id="u395_div" class=""></div>
      <div id="u395_text" class="text ">
        <p><span>Renting is a big descision!</span></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u396" class="ax_default image">
      <img id="u396_img" class="img " src={% static "images/landing/u396.png" %} />
      <div id="u396_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u397" class="ax_default heading_1">
      <div id="u397_div" class=""></div>
      <div id="u397_text" class="text ">
        <p><span>Is the place really as good as it looks?</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u398" class="ax_default heading_1">
      <div id="u398_div" class=""></div>
      <div id="u398_text" class="text ">
        <p><span>What is the area like to live in?</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u399" class="ax_default heading_1">
      <div id="u399_div" class=""></div>
      <div id="u399_text" class="text ">
        <p><span>What is the landlord like?</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u400" class="ax_default heading_1">
      <div id="u400_div" class=""></div>
      <div id="u400_text" class="text ">
        <p><span>How is the contract?</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u401" class="ax_default heading_1">
      <div id="u401_div" class=""></div>
      <div id="u401_text" class="text ">
        <p><span>Will it be worth the money?</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u402" class="ax_default heading_1">
      <div id="u402_div" class=""></div>
      <div id="u402_text" class="text ">
        <p><span>What are the conditions like?</span></p>
      </div>
    </div>

    <!-- Unnamed (Shape) -->
    <div id="u403" class="ax_default line">
      <img id="u403_img" class="img " src={% static "images/landing/u403.svg" %} />
      <div id="u403_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->





    <div id="u404" class="ax_default link_button">



      <div id="u404_div" class=""></div>
      <div id="u404_text" class="text ">
        <p><span> <a href="{% url 'searchReasult' %}" class="btn btn-1">Get started!</a>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u405" class="ax_default heading_1">
      <div id="u405_div" class=""></div>
      <div id="u405_text" class="text ">
        <p><span>What our users think:</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u406" class="ax_default heading_1">
      <div id="u406_div" class=""></div>
      <div id="u406_text" class="text ">
        <p><span>“really saved me trouble in the longrun” - Jenet B</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u407" class="ax_default heading_1">
      <div id="u407_div" class=""></div>
      <div id="u407_text" class="text ">
        <p><span>“This gives me power in negotiation for my next contract” - Jenet k</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u408" class="ax_default heading_1">
      <div id="u408_div" class=""></div>
      <div id="u408_text" class="text ">
        <p><span>“Now I can really make an informed decision on a serious choice” - Dave k</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u409" class="ax_default heading_1">
      <div id="u409_div" class=""></div>
      <div id="u409_text" class="text ">
        <p><span>Contact US : info@gaurenteed.com</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u410" class="ax_default heading_1">
      <div id="u410_div" class=""></div>
      <div id="u410_text" class="text ">
        <p><span>FAQ</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u411" class="ax_default heading_1">
      <div id="u411_div" class=""></div>
      <div id="u411_text" class="text ">
        <p><span>Social</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u412" class="ax_default heading_1">
      <div id="u412_div" class=""></div>
      <div id="u412_text" class="text ">
        <p><span>Help and support</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u413" class="ax_default heading_1">
      <div id="u413_div" class=""></div>
      <div id="u413_text" class="text ">
        <p><span>About us</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u414" class="ax_default heading_1">
      <div id="u414_div" class=""></div>
      <div id="u414_text" class="text ">
        <p><span>Mission</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u415" class="ax_default heading_1">
      <div id="u415_div" class=""></div>
      <div id="u415_text" class="text ">
        <p><span>Press</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u416" class="ax_default heading_1">
      <div id="u416_div" class=""></div>
      <div id="u416_text" class="text ">
        <p><span>Team</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u417" class="ax_default heading_1">
      <div id="u417_div" class=""></div>
      <div id="u417_text" class="text ">
        <p><span>App</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u418" class="ax_default heading_1">
      <div id="u418_div" class=""></div>
      <div id="u418_text" class="text ">
        <p><span>Blog</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u419" class="ax_default heading_1">
      <div id="u419_div" class=""></div>
      <div id="u419_text" class="text ">
        <p><span>Facebook</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u420" class="ax_default heading_1">
      <div id="u420_div" class=""></div>
      <div id="u420_text" class="text ">
        <p><span>Instagram</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u421" class="ax_default heading_1">
      <div id="u421_div" class=""></div>
      <div id="u421_text" class="text ">
        <p><span>Twitter</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u422" class="ax_default heading_1">
      <div id="u422_div" class=""></div>
      <div id="u422_text" class="text ">
        <p><span>Info</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u423" class="ax_default heading_1">
      <div id="u423_div" class=""></div>
      <div id="u423_text" class="text ">
        <p><span>Download</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u424" class="ax_default heading_1">
      <div id="u424_div" class=""></div>
      <div id="u424_text" class="text ">
        <p><span>Terms and conditions</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u425" class="ax_default heading_1">
      <div id="u425_div" class=""></div>
      <div id="u425_text" class="text ">
        <p><span>User Guide</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u426" class="ax_default heading_1">
      <div id="u426_div" class=""></div>
      <div id="u426_text" class="text ">
        <p><span>Recomendations</span></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u427" class="ax_default image">
      <img id="u427_img" class="img " src={% static "images/search/u8.png" %} />
      <div id="u427_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u428" class="ax_default heading_1">
      <div id="u428_div" class=""></div>
      <div id="u428_text" class="text ">
        <p><span>Technical support</span></p>
      </div>
    </div>

    <!-- Unnamed (Rectangle) -->
    <div id="u429" class="ax_default heading_1">
      <div id="u429_div" class=""></div>
      <div id="u429_text" class="text ">
        <p><span>“This gives me power in negotiation for my next contract” - Jenet k</span></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u430" class="ax_default image">
      <img id="u430_img" class="img " src={% static "images/landing/u430.svg" %} />
      <div id="u430_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u431" class="ax_default image">
      <img id="u431_img" class="img " src={% static "images/landing/u430.svg" %} />
      <div id="u431_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u432" class="ax_default image">
      <img id="u432_img" class="img " src={% static "images/landing/u430.svg" %} />
      <div id="u432_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>

    <!-- Unnamed (Image) -->
    <div id="u433" class="ax_default image">
      <img id="u433_img" class="img " src={% static "images/landing/u430.svg" %} />
      <div id="u433_text" class="text " style="display:none; visibility: hidden">
        <p></p>
      </div>
    </div>
  </div>
  <script src="resources/scripts/axure/ios.js"></script>
</body>

</html>