{% extends 'base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/landing.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block content %}

<img id="u83_img" class="img " src={% static "images/landing/u380.png" %} />
<h1>See what living in your new home is going to be like</h1>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Check if your next property has been reviewed</h5>
        <p class="card-text"></p>
        <form action={% url 'landing' %} method="post">{% csrf_token %}
          <input type="text" placeholder="Search.." id='property' name='property'>
        </form>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Review your property to help others</h5>
        <p class="card-text"></p>
        <a href="{% url 'review' %}" class="btn btn-primary">Review</a>

      </div>
    </div>
  </div>
</div>

<h1>Renting is a big descision!</h1>

<h1>The mission of our team is to ensure you know all the details about your future home</h1>




<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
  $(function () {

    $("#property").autocomplete({
      source: '{% url 'landing' %}'
    });
  });
</script>
{% endblock %}