{% extends 'base.html' %}
{% load myfilters %}
{% load static %}
{% block styles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/searchreasult.css' %}">
{% endblock %}
{% block content %}
    <div class="row">
      <div class="col-3">
        <h3>Review Timeline</h3>
        <img id="u250_img" class="u250_img" src={% static "images/onereasult/u250.png" %} />
        <h4>Click on a review to see what past tennants thaught</h4>

        
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

            {% for review in reviews %}
            <!-- make newest tab show first..so make sure it comes through in correct order from db -->
            <li class="nav-item">
                <!-- find way to make newest tab active at start.. -->
                <a class="nav-link" id={{review}} data-toggle="pill" href=#{{review.id}} role="tab"
                    aria-controls={{review.id}} aria-selected="true">{{review.moveIn}} - {{review.moveOut}}</a>
            </li>
            {% endfor %}
        </ul>
      </div>
      <div class="col-5">

        <div class ="aggregateValueDiv"><h4>Review timeline for {{property.address}}</h4>
             <h6>
            Average overall rating over all reviews of this property:
            <div class="keyBox">
            {% for i in aggregateReview|times %}
                        <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">
        
                        {% endfor %}
        
                        {% for i in aggregateReview|leftover %}
                            <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                        {% endfor %}
            </div>
            </h6>
        </div>
        <hr>

<div class="tab-content" id="pills-tabContent">
    {% for review in reviews %}
    <div class="tab-pane" id={{review.id}} role="tabpanel" aria-labelledby={{review.id}}>
    <div id = "overallDetials">
            <div class = "overallRating">
                <h6>Overall rating </h6>

                <div class="keyBox">

                {% for i in review.overallRating|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.overallRating|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>      
            <div class = "recomendation">
                <h6> Would you recomend this appartment to future renters??
                    {{ review.recomendation|yesno:"Yes,No" }}
                    </h6>
            </div>
            <div class = "valueForMoney">
                <h6>Value for money</h6>
                <div class="keyBox">

                {% for i in review.valueForMoney|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.valueForMoney|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>
    </div>
    <hr>
    <div id = "propertyDetails">
        <div class = "rent">
            <h6>{{ review.rent }} $ per month</h6>
        </div>
        <div class= "bedroomNumber">
            <h6>{{ review.bedroomNumber }} bedrooms</h6>
        </div>
    </div>    
    <hr>


    
        <div id="validationOfReview">
            <div class = "firstName">
                <h6>First name of reviewer: {{ review.firstName }}</h6>
            </div>
            <div class = "reviewDate">
                <h6> Date of review: {{ review.reviewDate }}</h6>
            </div>
            <div class = "verified">
                <h6>Verified review: {{ review.verified }}</h6>
            </div>
            <div class = "livingConfirmation">
                <h6> Confirmation of tennant living at this id_address: 
                    {{ review.livingConfirmation|yesno:"Confirmed,Not confirmed" }}
                    </h6>
            </div>
            <div class = "occupation">
                <h6>{{ review.occupation }}</h6>
            </div>
        </div>
        
        <hr>

        <div id = "maintainanceDetails">
            <div class = "overallMaintainance">
                <h6>Overall maintanance</h6>
                <div class="keyBox">

                {% for i in review.overallMaintainance|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.overallMaintainance|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>            
            <div class = "building quality">
                <h6>Buildingquality</h6>
                <div class="keyBox">

                {% for i in review.buildingQuality|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.buildingQuality|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>            
            <div class = "furnishings">
                <h6>Furnishings</h6>
                <div class="keyBox">

                {% for i in review.furnishings|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.furnishings|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>            
            <div class = "water">
                <h6>Water</h6>
                <div class="keyBox">

                {% for i in review.water|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.water|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>            
            <div class = "whiteGoods">
                <h6>White goods</h6>
                <div class="keyBox">

                {% for i in review.whiteGoods|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.whiteGoods|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>            
            <div class = "maintainanceComment">
                <h6>Maintanance comments {{ review.maintainanceComment }}</h6>
                
            </div>

        </div>
        <hr>

        <div id = "landlordDetails">

            <div class = "overallLandlord">
                <h6>Landloard</h6>
                <div class="keyBox">

                {% for i in review.overallLandlord|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.overallLandlord|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>
            <div class = "responsiveness">
                <h6>Responsiveness</h6>
                <div class="keyBox">

                {% for i in review.responsiveness|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.responsiveness|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>
            <div class = "repairQuality">
                <h6>Repair quality</h6>
                <div class="keyBox">

                {% for i in review.repairQuality|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.repairQuality|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>
            <div class = "landlordComment">
                <h6>Land lord comment {{ review.landlordComment }}</h6>
            </div>
        </div>
        <hr>

        <div id = "movingDetails">
            <div class = "movingInExperiance">
                <h6>Moving in experiance</h6>
                <div class="keyBox">

                {% for i in review.movingInExperiance|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.movingInExperiance|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>

            <div class = "moveIn">
                <h6>Move in date: {{ review.moveIn }}</h6>
            </div>
            <div class = "movingOutExperiance">
                <h6>Moving out experiance</h6>
                <div class="keyBox">

                {% for i in review.movingOutExperiance|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.movingOutExperiance|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>
            <div class = "moveOut">
                <h6>Move out date: {{ review.moveOut }}</h6>
            </div>
        </div>
        <hr>

            <div id = "areaDetails">
            <div class = "areaSafety">
                <h6>Area safety</h6>
                <div class="keyBox">

                {% for i in review.areaSafety|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.areaSafety|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>
            <div class = "areaEnjoyment">
                <h6>How enjoyable the area was to live in</h6>
                <div class="keyBox">

                {% for i in review.areaEnjoyment|times %}
                <img src="{% static "images/search_results/u53.png" %}" class="Rating--Star">

                {% endfor %}

                {% for i in review.areaEnjoyment|leftover %}
                    <img src="{% static "images/search_results/u52.png" %}" class="Rating--Star">
                {% endfor %}
                </div>
            </div>
            <div class = "areaEnjoymentReason">
                <h6>How did you enjoy the area?{{ review.areaEnjoymentReason }}</h6>
            </div>
        </div>


    </div>
 
    {% endfor %}


</div>
</div>


<div class="col-4">

<iframe
  width="400"
  height="450"
  style="border:0"
  loading="lazy"
  allowfullscreen
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDlVTN-szxnm6ZMM8yWxZuuBIREfD8snjk
    &q=Space+Needle,Seattle+WA">
</iframe>


</div>
</div>


{% endblock %}


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
< src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></>
< src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></>