.adressDisplayDiv {
  /* border: 5px outset red; */
  background-color: #ffe6e6;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
}

.aggregateValueDiv {
  /* border: 5px outset red; */
  background-color: #ffe6e6;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
}
