.aggregateValueDiv {
  /* border: 5px outset red; */
  background-color: #ffe6e6;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
}

#validationOfReview {
  background-color: #ffe6e6;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
}

#propertyDetails {
  background-color: cadetblue;
  text-align: center;
  border-radius: 25px;
  padding: 20px;
}
